@use "sass:map";

/* DETALLES */
.card{
    border: none;

    .card-header{
        background: white;
        border: none;
        padding: 1.5rem;

        i{
            background-color: rgba(map.get($theme-colors,"success"), 0.63);
            aspect-ratio: 1/1;
            padding: 0.5rem;
            // width: 1.5rem;
            height: auto;
            display: flex;
            color: #fff;
            border-radius: 5rem;
        }

        h2{
            color: rgba(map.get($theme-colors,"dark"), 0.5)
        }
    }
}
/* DETALLES */